# from github.com/github/gitignore

# mac staff
# ---------
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# win staff
# ---------
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

# linux staff
# -----------
.*
!.gitignore
*~

# python staff
# ------------
*.log
*.pot
*.pyc
local_settings.py
